name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - "*"
  pull_request:
permissions:
  contents: read
  pull-requests: read
jobs:
  golangci-petra:
    name: lint-petra
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: 1.20.6
      - uses: actions/checkout@v4
      - name: golangci-lint-petra
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.52
          only-new-issues: true